<div class="flex items-center justify-center h-full">
    <p-card>
        <h2>Lista de Egresos</h2>
        <div class="justify-right">
            <p>Filtro mensual para Ingresos:</p>
            <p-floatlabel variant="in">
                <p-datepicker 
                    [(ngModel)]="date"
                    view="month"
                    dateFormat="mm/yy"
                    [maxDate]="maxDate"
                    [readonlyInput]="true"
                    showIcon="true"
                    inputId="filtroMes"
                    (ngModelChange)="filterMonth($event)"
                />
                <label for="filtroMes">Filtrar mes</label>
            </p-floatlabel>
        </div>
        <br>
        <p-table [value]="allEgresos()" [scrollable]="true" scrollHeight="400px" panelSize="100%">
            <ng-template #header>
                <tr>
                    <th>Fecha</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template #body let-egresos>
                <tr>
                    <td>{{egresos.fecha_transaccion | date: 'dd/MM/yyyy' }}</td>
                    <td>{{egresos.nombre_categoria}}</td>
                    <td>{{egresos.descripcion}}</td>
                    <td>{{egresos.valor | number: '1.0-2'}}</td>
                </tr>

            </ng-template>
        </p-table>
        <h3>Total Egresos: {{ totalEgresos() | number: '1.0-2' }}</h3>
    </p-card>
    
</div>
