<br>
<p-card>
    <ng-template #title>Agregue un registro</ng-template>
    <ng-template #subtitle>Agregue la información en el siguiente formulario:</ng-template>
    <form (ngSubmit)="addTransaccion()">
        <div class="card flex justify-center">
            <p>Fecha de transacción:</p>
            <p-floatlabel variant="in">
                <p-datepicker 
                    [(ngModel)]="dateTransaccion"
                    name="dateTransaccion"
                    dateFormat="dd/mm/yy"
                    [maxDate]="maxDate"
                    [readonlyInput]="true"
                    showIcon="true"
                    inputId="dateTransaccion"
                    (ngModelChange)="setDateTransaccion($event)"
                />
                <label for="dateTransaccion">Seleccionar fecha</label>
            </p-floatlabel>
        </div>
    
        <div class="grid grid-cols-2 gap-4">
            <p>Sección:</p>
            <p-select 
                [options]="seccion" 
                [(ngModel)]="tipoSeccion"
                name="tipoSeccion"
                [checkmark]="true" 
                optionLabel="name" 
                [showClear]="true" 
                placeholder="Seleccionar una sección" 
                variant="filled"
                class="w-full md:w-256"
                (ngModelChange)="setTipoSeccion($event)"
            ></p-select>
            <br>
            <p>Categoría:</p>
            <ng-container [ngSwitch]="tipoSeccion?.name">
                <div *ngSwitchCase="'activos'">
                    <p-select 
                        [options]="categActivos"
                        [(ngModel)]="selectCatActivos" 
                        name="selectCatActivos"
                        [checkmark]="true"
                        optionLabel="name" 
                        [showClear]="true" 
                        placeholder="Seleccionar categoría" 
                        variant="filled"
                        (ngModelChange)="setSelectCategActivos($event)" 
                    />
                </div>
                <div *ngSwitchCase="'pasivos'">
                    <p-select 
                        [options]="categPasivos"
                        [(ngModel)]="selectCatPasivos" 
                        name="selectCatPasivos"
                        [checkmark]="true"
                        optionLabel="name" 
                        [showClear]="true" 
                        placeholder="Seleccionar categoría" 
                        variant="filled"
                        (ngModelChange)="setSelectCategPasivos($event)" 
                    />
                </div>
                <div *ngSwitchCase="'ingresos'">
                    <p-select 
                        [options]="categIngresos"
                        [(ngModel)]="selectCatIngresos" 
                        name="selectCatIngresos"
                        [checkmark]="true"
                        optionLabel="name" 
                        [showClear]="true" 
                        placeholder="Seleccionar categoría" 
                        variant="filled"
                        (ngModelChange)="setSelectCategIngresos($event)" 
                    />
                </div>
                <div *ngSwitchCase="'egresos'">
                    <p-select 
                        [options]="categEgresos"
                        [(ngModel)]="selectCatEgresos" 
                        name="selectCatEgresos"
                        [checkmark]="true"
                        optionLabel="name" 
                        [showClear]="true" 
                        placeholder="Seleccionar categoría" 
                        variant="filled"
                        (ngModelChange)="setSelectCategEgresos($event)" 
                    />
                </div>
            </ng-container>
        </div>
            
        <br>
        <div class="flex-auto">
            <p>Valor:</p>
            <p-floatlabel variant="in">
                <p-inputnumber 
                    inputId="valor"
                    name="valor"
                    autocomplete="off"
                    [(ngModel)]="valor"
                    (ngModelChange)="setValor($event)" 
                /> 
                <label for="valor">Ingrese el Valor</label>
            </p-floatlabel>
        </div>
        <br>
        <div class="flex-auto"> 
            <p>Ingrese una descripción:</p>
            <p-floatlabel variant="in">
                <input 
                    pInputText
                    id="descripcion"
                    name="descripcion"
                    type="text"
                    autocomplete="off"
                    [(ngModel)]="descripcion"
                    (ngModelChange)="setDescrpcion($event)" 
                >
                <label for="descripcion">Descripción</label>
            </p-floatlabel>
        </div>
        <br>
        <p-button
            label="Guardar"
            severity="success"
            class="w-full"
            [raised]="true"
            [outlined]="true"
            styleClass="w-full"
            type="submit"
        /> 
    </form>
</p-card>
