<h1>Gráficos Resumen</h1>

<p>Elige una sección para visualizar las gráficas:</p>
<ul>
    <li>Activos</li>
    <li>Pasivos</li>
    <li>Ingresos</li>
    <li>Egresos</li>

</ul>
<!-- graficos de activos -->
<div class="card" style="width: 50%" justify="space-between">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
</div>
<br>
<div class="card" style="width: 50%; height: 30%;" justify="space-between">
    <p-chart type="pie" [data]="dataPie" [options]="optionsPie" class="w-full md:w-[30rem]"></p-chart>
</div>