<div class="flex items-center justify-center h-full">
    <p-card [style]="{ overflow: 'hidden' }">
        <h2>Ingresos</h2>
        <p-table [value]="allIngresos()" [scrollable]="true" scrollHeight="200px" panelSize="100%">
            <ng-template #header>
                <tr>
                    <th>Fecha</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template #body let-ingresos>
                <tr>
                    <td>{{ingresos.fecha_transaccion | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ingresos.nombre_categoria}}</td>
                    <td>{{ingresos.descripcion}}</td>
                    <td>{{ingresos.valor | number: '1.0-2'}}</td>
                </tr>

            </ng-template>
        </p-table>
        <h3>Total Ingresos: {{ totalIngresos() | number: '1.0-2' }}</h3>
    </p-card>
    
</div>