<div class="card">
    <p-menubar [model]="items">
        <ng-template #end>
            <div class="flex items-center gap-2">
                <ng-container *ngIf="authService.idTokenClaims$ | async as idTokenClaims">
                    <div>
                        <p-button severity="secondary" rounded [outlined]="false" (click)="op.toggle($event)">
                            <p-avatar image="{{idTokenClaims.picture}}" shape="circle" />
                        </p-button>
                        <p-popover #op>
                            <div class="login" justify-content="center" style="width: 200px">
                                <div>
                                    <span class="font-bold"><b>Usuario: </b>{{idTokenClaims.name}}</span>
                                <br>
                                    <span class="font-bold"><b>Email: </b>{{idTokenClaims.email}}</span>
                                </div>
                                <br>
                                <p-button 
                                    label="Logout" 
                                    icon="pi pi-sign-out"
                                    severity="danger"
                                    class="w-full"
                                    [raised]="true"
                                    [outlined]="true"
                                    (click)="logout()"
                                />
                            </div>
                        </p-popover>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </p-menubar>
</div>
