<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', }">

        <ng-template #title><span>Iniciar Sesión</span></ng-template>
        <ng-template #subtitle>Agregue sus datos:</ng-template>
    
        <form (ngSubmit)="authLogin()">
            <p-floatlabel variant="in">
                <input
                    pInputText
                    id="usuario"
                    name="usuario"
                    type="text"
                    autocomplete="off"
                    pSize="large"
                    [(ngModel)]="user"
                >
                <label for="usuario">Usuario</label>
            </p-floatlabel>
            <br>
            <p-floatlabel variant="in">
                <p-password
                    id="contrasena"
                    name="contrasena"
                    autocomplete="off"
                    pSize="large"
                    [toggleMask]="true"
                    [(ngModel)]="password"
                >
                    <ng-template #footer>
                        <ul class="pl-2 ml-2 my-0 leading-normal">
                            <li>At least one lowercase</li>
                            <li>At least one uppercase</li>
                            <li>At least one numeric</li>
                            <li>Minimum 8 characters</li>
                        </ul>
                    </ng-template>
                </p-password>

                <label for="usuario">Contraseña</label>
            </p-floatlabel>
            <br>
            <div>
                <p-button
                    label="Ingresar"
                    severity="info"
                    class="w-full"
                    [raised]="true"
                    [outlined]="true"
                    styleClass="w-full"
                    type="submit"
                />
            </div>
           
        </form>
    
    </p-card>
</div>



